---
layout: default
---

{% include header.html home='/' %}


<div class="jumbotron" style="padding-top: 180px; background-image: url('{{page.img.first}}'); background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;">
    <div class="container">
        <h2 style="max-width: 600px; font-size:32pt; color:white">{{page.title}} <br/><small>{{page.date-str}} <strong><a target="_blank" style="color:#fec503; text-decoration: none" href="{{page.place-link}}">{{page.place}}</a></strong></small></h2>
    
    </div>
</div>


<div class="container">

    <div class="page-content">
        {{ content }}
    </div>   
            
</div>
